/* Importa Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Importa Quicksand desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');




:root {
  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-primary: 'Quicksand', sans-serif;
}

/* Aplica las variables de fuente */
body {
  font-family: var(--font-family-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-secondary);
}
