.user-profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .welcome-section {
    text-align: center;
  }
  
  .profile-button,
  .orders-button {
    margin: 10px 10px;
  }
  
  .user-profile-card,
  .user-orders-card {
    margin-top: 20px;
  }
  
  .orders-table .ant-table-row:hover {
    background-color: #FF914D; /* Color de la marca */
    cursor: pointer;
  }
  
  .user-profile-card .ant-form-item {
    margin-bottom: 16px;
  }
  
  .save-button {
    margin-top: 20px;
    background-color: #00983a;
    border-color: #00983a;
  }
  
  .save-button:hover {
    background-color: #ee7723;
    border-color: #ee7723;
  }
  
  .back-button {
    margin-top: 20px;
  }
  
  .order-item {
    padding: 10px 0;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .modal-section, .modal-product-item, .modal-shipping-info {
    padding: 10px 0;
  }
  
  .modal-section p,
  .modal-product-item p,
  .modal-shipping-info p {
    margin: 5px 0;
  }
  